In [39]:
#1
def check(num):
 
  if num in range(-5,5):
     return "is the number in range :true"
  else: 
     return "is the number in range :false"
        
check(3)

'is the number in range :true'

In [40]:
check(5)

'is the number in range :false'

In [41]:
check(10)

'is the number in range :false'

In [87]:
#2
list1 =["name","age","gender"]
list2=["rorr",23,"female",5]

In [88]:
dictionary = {list1[i]: list2[i] for i in range(len(list1))}

print(dictionary)

{'name': 'rorr', 'age': 23, 'gender': 'female'}

In [57]:
#3
def sqlist(): 
    square = [] 
    for i in range(1, 31): 
        square.append(i ** 2) 
    print(square) 

sqlist()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [74]:
#4
list =[3,6,4,0,8] 
#4.a
list.pop()
print(list)

[3, 6, 4, 0]

In [75]:
#4.b
list.insert(1,'R')
print(list)

[3, 'R', 6, 4, 0]

In [77]:
#4.c
number = int(input("enter a number"))
list.append(number)
print(list)

enter a number 9

[3, 'R', 6, 4, 0, 9, 9]

In [79]:
#4.c
list.remove(9)
print(list)

[3, 'R', 6, 4, 0]

In [85]:
#5
dic1={"name":"rorr", "age":23 ,"lang":"arabic"}
dic2={"name":"rawan" , "gender":"female" , "length":190 }

In [86]:
dic1.update(dic2)
print(dic1)

{'name': 'rawan', 'age': 23, 'lang': 'arabic', 'gender': 'female', 'length': 190}